<div class="row">
  <div class="container">
    <div class="webform">
      <div class="form-container">
          <h1>{{ webform.name }}</h1>
        <img [src]="{{ webform.banner_link }}" alt="" />
        <div class="row">
          <div class="col-md-6" *ngFor="let field of webform; let i = index">
            <div class="form-group">
              <label for="" class="control-label">{{ field.fieldName }}</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
